.art-page {
  margin: 5rem auto 0;
  .art-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  .art-container {
    display: flex;
  }

  .art-acheter {
    text-decoration: none;
  }
  @media (min-width: 768px) {
    img {
      width: 700px;
    }
  }

  @media (max-width: 768px) {
    img {
      width: 100%;
    }
  }
}
